@media print {
	.body,
	.ui.modal > .actions,
	.close.icon {
		display: none;
	}
	.ui.page.modals {
		align-items: flex-start;
		justify-content: flex-start;
	}

	.ui.modal {
		width: 80%;
		box-shadow: none;
	}

	.ui.small.modal > .header {
		border: none;
	}

	.company-modal .ui.celled.table tr td {
		border: none;
		padding-top: 0;
	}

	.ui.horizontal.label {
		background: none;
		font-size: 14px;
	}

	.table-actions {
		display: none;
	}

	.ui.modal > .header {
		border: none;
	}

	.ui.modal.contact-modal {
		width: 100%;
	}
}

.flexable {
	display: flex;
}

.tags {
	text-align: center;
}

.tags .label {
	margin-bottom: 5px;
}

.ui.sortable.table thead th.break-space,
.ui.sortable.table thead th.sorted.break-space {
	white-space: normal;
}

.list-home {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.ui.segment.item-home {
	display: inline-block;
	max-width: 300px;
	width: calc(100% - 30px);
	margin-left: 10px;
}
